* {
  margin: o;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: goldenrod;
}
.containner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 400px;
  perspective: 1000px;
}
.flip {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.container:hover .flip {
  transform: rotateY(180deg);
}
.front,
.back {
  position: absolute;
  width: 400px;
  height: 300px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #002366;
  color: goldenrod;
}
.front h1 {
  text-align: center;
  font-size: 1.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.back {
  transform: rotateY(180deg);
  border-radius: 0px 0px 20px 20px;
  cursor: pointer;
  position: relative;
  transform-style: preserve-3d;
}
.back:before {
  content: "";
  position: absolute;
  border-left: 200px solid transparent;
  border-right: 200px solid #002366;
  border-top: 150px solid transparent;
  border-bottom: 150px solid #002366;
  border-radius: 0px 0px 20px 20px;
  z-index: 5;
}
.back:after {
  content: "";
  position: absolute;
  border-left: 200px solid #032b74;
  border-right: 200px solid transparent;
  border-top: 150px solid transparent;
  border-bottom: 150px solid #032b74;
  border-radius: 0px 0px 20px 20px;
}
.back .cover {
  position: absolute;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-top: 150px solid #0b378a;
  border-bottom: 150px solid transparent;
  transform-origin: top;
  transition: 1s ease;
  z-index: 4;
}
.back:hover .cover {
  transform: rotateX(180deg);
  transition: 1s ease;
}
.back .card {
  position: absolute;
  width: 380px;
  left: 10px;
  height: 290px;
  top: 10px;
  background: url(ph/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0px 0px 20px 20px;
  transition: 1s ease;
}
.back:hover .card {
  top: -180px;
  transition: 1s 1s ease;
  transform: translateX(50%) rotateX(360deg) translateZ(1px);
}
